In [19]:
import pandas as pd
import json

train_df = pd.read_csv("data/train.csv")
eval_def = pd.read_csv("data/eval.csv")

combined_df = pd.concat([train_df, eval_def], ignore_index=True)
combined_df.head()

,input,target
0,So I think we can not live if old people could...,So I think we would not be alive if our ancest...
1,So I think we can not live if old people could...,So I think we could not live if older people d...
2,So I think we can not live if old people could...,So I think we can not live if old people could...
3,So I think we can not live if old people could...,So I think we can not live if old people can n...
4,For not use car.,Not for use with a car.

In [ ]:
combined_df.to_csv("data/combined.csv", index=False)

In [13]:
len(combined_df)

6004

In [24]:
train_df = combined_df.sample(frac=0.8, random_state=42)  # 80% for training
eval_df = combined_df.drop(train_df.index)  # remaining 20% for evaluation
train_df.head()
# print("Train length: ", len(train_df))
# print("Eval length: ", len(eval_df))

,input,target
1782,"becase if study in this way of cours, I will g...","If studying occurs in this way, I will learn s..."
3918,He was successful aleady in his fields of livi...,He was successful already in his field of livi...
221,He/she wants to know everything about the univ...,He/she wants to know everything about the univ...
5449,I strongly believe that in twenty years there ...,I strongly believe that in twenty years there ...
6001,Members gather money for the funeral and help ...,Members gather money for the funeral to help t...

In [25]:
# Reset index so that it starts from 0 for both train_df and eval_df
train_df.reset_index(drop=True, inplace=True)
eval_df.reset_index(drop=True, inplace=True)

In [26]:
train_df.head()

,input,target
0,"becase if study in this way of cours, I will g...","If studying occurs in this way, I will learn s..."
1,He was successful aleady in his fields of livi...,He was successful already in his field of livi...
2,He/she wants to know everything about the univ...,He/she wants to know everything about the univ...
3,I strongly believe that in twenty years there ...,I strongly believe that in twenty years there ...
4,Members gather money for the funeral and help ...,Members gather money for the funeral to help t...

In [27]:
train_df['input'][0]

'becase if study in this way of cours, I will gante so much, I also will have alot of information the book I study. '

The dataset is saved in json format as follows.
```json
{
    "instruction": "Instruction to the model",
    "input": "Input sentence with grammatical error",
    "targe": "Correct version of the sentences"
}
```

In [28]:
# convert train dataset in json format and save it
data_list = []

for i in range(len(train_df)):
    json_data = {}
    json_data = {
        "instruction": "Correct grammar errors in this sentence: ",
        "input": train_df['input'][i],
        "target": train_df['target'][i]   
    }
    data_list.append(json_data) 
    
with open('data/train.json', 'w') as f: 
    json.dump(data_list, f, indent=4, separators=(',', ': ') )

In [29]:
# Convert eval_df to json format and save it.
df = pd.read_csv("data/eval.csv")
data_list  = []
for i in range(len(eval_df)):
    json_data = {}
    json_data = {
        "instruction": "Correct grammar errors in this sentence: ",
        "input": eval_df['input'][i],
        "target": eval_df['target'][i]
    }   
    data_list.append(json_data)
with open('data/eval.json', 'w') as f:
    json.dump(data_list, f, indent=4, separators=(',', ': ') )